.update-exam-container {
    max-width: 1000px;
    margin: 50px auto;
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.form-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.form-column {
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
}


.form-column label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

.form-column input[type="text"],
.form-column input[type="number"],
.form-column input[type="date"],
.form-column select,
.form-column textarea {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 400px;
    height: 0px;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    opacity: 0.8;
}

.update-exam-btn {
    background-color: #007bff;
    color: white;
}

.cancel-btn {
    background-color: #6c757d;
    color: white;
}