{
  "env": {
    "targets": {
      "node": 21
    }
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    }
  },
  "module": {
    "type": "es6",
     "strict": true,
    "strictMode": true,
    "lazy": true,
    "noInterop": false
  },
  "sourceMaps": "inline"
}
