.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  /*background-image: linear-gradient(to bottom, #000000 0%, #9d9d9d 100%);*/
  background-image: linear-gradient(to bottom, #000000 0%, #0747a1 100%);
  color: #fdfdfd;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.nav-group {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.nav-group ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-left: 30px;
}

.nav-group a,
.nav-group a:visited {
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
}

.nav-group a:hover,
.nav-group a:focus {
  color: #bdc3c7;
}

.navbar .search-bar {
  display: flex;
  align-items: center;
}

.navbar .search-bar input {
  border: 1px solid #34495e;
  border-radius: 5px;
  padding: 5px 10px;
  background: transparent;
  color: inherit;
}

.navbar .search-bar input::placeholder {
  color: #7f8c8d;
}
