.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333333;
  color: #ecf0f1;
}

.nav-group {
  display: flex;
  align-items: center;
}

.nav-group ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav-group a,
.nav-group a:visited {
  color: #ecf0f1;
  text-decoration: none;
  padding: 0 10px;
}

.nav-group a:hover,
.nav-group a:focus {
  color: #bdc3c7;
}

.navbar .search-bar {
  display: flex;
  align-items: center;
}

.navbar .search-bar input {
  border: 1px solid #34495e;
  border-radius: 5px;
  padding: 5px 10px;
  background: transparent;
  color: inherit;
}

.navbar .search-bar input::placeholder {
  color: #7f8c8d;
}