# Logs
logs
*.log
pnpm-debug.log*

# Node.js
node_modules/

# Docker
docker-compose.yml
*.env
postgres/

# Dependencies
/node_modules/

# Production
/build
/dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.log

# Local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Visual Studio Code
.vscode/*
!.vscode/extensions.json
